.badge {
   padding: 6px 11px;
   color: var(--admin-txt-white);
   border-radius: 10px;
   box-shadow: var(--admin-box-shadow);
}

.badge-danger {
   background-color: var(--admin-main-color-red);
}

.badge-success {
   background-color: var(--admin-main-color-green);
}

.badge-primary {
   background-color: var(--admin-main-color-blue);
}

.badge-warning {
   background-color: var(--admin-main-color-orange);
}
