.theme-mode-light {
   --admin-main-bg: var(--admin-main-bg-light);
   --admin-second-bg: var(--admin-second-bg-light);
   --admin-txt-color: var(--admin-txt-color-light);
   --admin-box-shadow: var(--admin-box-shadow-light);
}

.theme-mode-dark {
   --admin-main-bg: var(--admin-main-bg-dark);
   --admin-second-bg: var(--admin-second-bg-dark);
   --admin-txt-color: var(--admin-txt-color-dark);
   --admin-box-shadow: var(--admin-box-shadow-dark);
}

.theme-color-blue {
   --admin-main-color: var(--admin-main-color-blue);
   --admin-second-color: var(--admin-second-color-blue);
}

.theme-color-red {
   --admin-main-color: var(--admin-main-color-red);
   --admin-second-color: var(--admin-second-color-red);
}

.theme-color-cyan {
   --admin-main-color: var(--admin-main-color-cyan);
   --admin-second-color: var(--admin-second-color-cyan);
}

.theme-color-green {
   --admin-main-color: var(--admin-main-color-green);
   --admin-second-color: var(--admin-second-color-green);
}

.theme-color-orange {
   --admin-main-color: var(--admin-main-color-orange);
   --admin-second-color: var(--admin-second-color-orange);
}
