.admin-login-container {
   background-image: url("../../../assets/images/admin/background1.jpg");
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
}

.admin-login-container button a {
   color: #fff;
}
.admin-login-container button:hover a {
   color: #fc00ff;
   transition: color 0.3s linear;
}
